@import "assets/font/font.css";
@import "assets/css/swiper-bundle.min.css";
@import "assets/css/normalize.css";
@import "assets/css/flex.css";
@import "assets/css/icons.css";
@import "assets/css/header.css";
@import "assets/css/home.css";
@import "assets/css/footer.css";
@import "assets/css/blog.css";
@import "assets/css/about.css";
@import "assets/css/contact.css";
@import "assets/css/rating.css";


