
.blog-main{
    margin-top: 60px;
    margin-bottom: 80px;
}

.blog-col{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.blog-box{
    gap: 22px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    background: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
}
.blog-photo{
    max-width: 247px;
    width: 100%;
}


.blog-photo img{
    width: 100%;
    border-radius: 10px;
}
.blog-text{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.blog-text h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
}

.blog-more{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(27, 35, 64, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    margin-left: auto;
    transition: 0.3s;
}
.blog-more:hover{
    opacity: 0.70;
}
.blog-more-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    background: rgba(27, 35, 64, 1);

}
.pagination-pages{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.pagination-left, .pagination-right{
    color: rgba(153, 153, 153, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.pagination-right{
    color: rgba(0, 92, 254, 1);
}
.pagination-pages ul{
    display: flex;
    align-items: center;
    gap: 4px;
}
.pagination-pages ul li a{
    background: rgba(240, 245, 255, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 39px;
    height: 39px;
    color: rgba(27, 35, 64, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}
.pagination-pages ul li a:hover{
    background: rgba(27, 35, 64, 1);
    color: #ffffff;
}
.pagination-pages ul li.pagination-active a{
    background: rgba(27, 35, 64, 1);
    color: #ffffff;
}


.block-single-title h1 {
    max-width: 860px;
}




.casinos-uk-pic{
    margin-bottom: 20px;
    width: 100%;
}

.casinos-uk-pic img{
    width: 100%;
}

.slots-wrap{
    gap: 18px;
    margin-bottom: 18px;
}
.slots-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    gap: 22px;
    border-radius: 20px;
    padding: 20px;
    width: calc(25% - 14px);
    border: 1px solid transparent;

}
.slots-box:hover{
    border: 1px solid rgba(216, 216, 216, 1);
    
}
.slots-photo{
    width: 100%;
}
.slots-box h3{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}
.slots-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.slots-btn .btn{
    gap: 10px;
    width: 163px;
}
.btn-demo{
    background: unset;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    border-bottom: 1px dashed rgba(1, 91, 255, 1);
    color: rgba(1, 91, 255, 1);
}
















/*=========-casino-style-start-=======*/


.banner-slot{
    padding: 134px 0 72px;
}
.slot-img-box{
    position: relative;
    max-width: 728px;
    width: 100%;
    display: flex;
}

.slot-img-box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(31, 38, 53, 0) 0%, rgba(31, 38, 53, 0.8) 100%);
    pointer-events: none;
    z-index: 1;
}
.banner-slot img{
    position: relative;
    width: 100%;
}
.slot-demo-btn{
    position: absolute;
    z-index: 999;
    width: 116px;
    height: 45px;
    border-radius: 35px;
    padding: 15px 10px;
    background: #FFFFFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 12px;
}
.slot-info{
    max-width: 475px;
}

.slot-specs{
    margin-top: 30px;
    flex-direction: column;
    gap: 13px;
}
.similar-slots{
    margin-bottom: 100px;
    margin-top: 20px;
}

.slot-spec-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slot-spec-label{
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.slot-spec-value{
    color:#8B8B8B;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.slot-description{
    text-align: justify ;
}
.slot-casino-card-box-container{
    margin-top: 48px;
    margin-bottom: 33px;
}
.slot-casino-card {
    background: #ffffff;
    padding: 20px 20px 48px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: calc(25% - 24px);
}
.slot-casino-card .btn{
    width: 100%;
}
.slot-casino-card-box{
    gap: 0 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}
.slot-casino-card a{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(36, 44, 45, 1);
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.slot-casino-card a:hover{
    border-bottom: 1px solid rgba(0, 92, 254, 1);
    color: rgba(0, 92, 254, 1);
}
.slot-casino-card-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slot-casino-card-logo img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.slot-casino-card-logo h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    text-transform: uppercase;
}

.slot-casino-rating{

    gap: 10px;
}
.slot-casino-rating .count-star{
    background: rgba(244, 16, 100, 1);
}

.slot-casino-rating-stars{
    display: flex;
    gap: 2px;
}


.slot-casino-rating-stars i{
    color: #FFD700;
    font-size: 16px;
}

.slot-casino-bonus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.slot-casino-bonus-text{
    color: #000000;
    font-weight: bold;
    text-align: center;

}
















.list-casinos{
    margin-top: 85px;
    width: 100%;
}
.list-casinos p{
    color: #000000;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
}

.list-casinos-verb{
    margin-top: 36px;
    background: rgba(245, 248, 255, 1);
    border-radius: 30px;
    padding: 15px 30px;

}
.list-casinos-verb ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.list-casinos-verb ul li{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
}

.list-casinos-sec{
    margin-top: 50px;
}
.list-casinos-sec .slot-casino-card-box{
    margin-top: 20px;
}




.author-main{
    margin-top: 15px;
    gap: 16px;
}
.author-main img{
    width: 145px;
}
.author-main strong{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
}
.author-main p{
    margin-top: 10px;
    color: rgba(166, 166, 166, 1);
}


.publications-main{
    margin-top: 69px;
    padding-bottom: 160px;

}
.publications-main h3{
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 33px;
    line-height: 100%;
}
.publications-cnt{
    width: 100%;
}
.publications-box{
    margin-top: 18px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    background: rgba(255, 255, 255, 1);
    padding: 20px;

}
.publications-box h4{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

}


.slot-info-gap{
    gap: 60px;
}





.banner-info .slot-img-box{
    display: none;
}



@media (max-width: 1299px){
    .slot-img-box {
        max-width: 600px;
    }
    .slot-info-gap{
        gap: 40px;
    }

}

@media (max-width: 1199px){
    .slot-casino-card {
        width: calc(33.333333% - 24px);
    }
    .slot-casino-card-box {
        gap: 0 20px;
        margin-top: 30px;
    }

    .slot-casino-card {
        width: calc(33.333333% - 14px);
    }
}
@media (max-width: 1020px){
    .author-main strong {
        font-size: 50px;
    }
    .blog-box {
        flex-direction: column;
        align-items: flex-start;
    }
    .blog-main {
        margin-top: 43px;
    }
    .slot-casino-card {
        width: calc(50% - 14px);
    }
    .list-casinos-sec .slot-casino-card-box {
        margin-top: 11px;
    }
    .slot-img-box{
        display: none;
    }
    .slot-info {
        max-width: 100%;
        width: 100%;
    }
    .banner-info .slot-img-box {
        display: flex;
        max-width: 100%;
        margin-top: 12px;
    }
    .similar-slots {
        margin-bottom: 70px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .slots-box {
        width: calc(50% - 14px);
    }
    .slots-photo {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 767px){
    .author-main strong {
        font-size: 38px;
        text-align: center;
        display: block;
    }
    .author-main {
        margin-top: 18px;
        flex-direction: column;
    }
    .author-main p {
        text-align: center;
    }
    .publications-box {
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
    }
    .publications-box  .blog-more {
        margin-left: 0;
    }
    .pagination-pages ul li{
        display: none;
    }
    .pagination-pages ul li:nth-child(1),
    .pagination-pages ul li:nth-child(2){
        display: block;
    }
}

@media (max-width: 575px){
    .slot-casino-card {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;

    }
    .slot-casino-card-box {
        gap: 0 20px;
        margin-top: 0;
    }
    .slots-box {
        width: 100%;
    }
    .slots-photo {
        width: 100%;
        justify-content: center;
    }
    .blog-photo {
        max-width: 100%;
        width: 100%;
    }
}