footer{
    padding: 0 25px 30px;
}
.footer-fon{
    background: rgba(27, 35, 64, 1);
    border-radius: 30px;
    padding: 50px 0;
}
.footer-logo{
    gap: 110px;
}

.language-min{
    width: 65px;
    position: relative;
    transition: 0.3s;
}
.language-click{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 5px 8px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}
.language-click:after{
    content: "";
    position: absolute;
    top: 5px;
    right: 12px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(135deg);
    transition: 0.3s;
}
.language-open .language-click:after{
    transform: rotate(-45deg);
    top: 9px;

}
.language-drop{
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 6px 8px;
    display: none;
}
.language-drop ul{
    display: flex;
    flex-direction: column;
    gap: 6px;

}
.language-drop li{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    transition: 0.3s;
}
.language-drop li:hover{
    color: rgba(0, 92, 254, 1);

}
.language-open .language-drop{
    display: block;
}

.footer-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer-soc{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.footer-soc .share-soc-flex{
    margin: 0;
}
.footer-soc .share-soc{
    background: rgba(7, 36, 101, 1);

}
.footer-soc .share-soc:hover{
    background: rgba(0, 92, 254, 1);


}

.send-mail{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    transition: 0.3s;
}
.send-mail:hover{
    color: rgba(0, 92, 254, 1);

}



.footer-info{
    margin-top: 46px;
    gap: 24px;
    justify-content: space-between;
    padding: 50px 0;
    border-top: 1px solid rgba(24, 70, 139, 1);
}
.footer-menu{
    max-width: 309px;
    width: 100%;
}
.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.footer-menu a{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    transition: 0.3s;
}
.footer-menu a:hover{
    color: rgba(0, 92, 254, 1);
    text-decoration: underline;

}
.responsibly-text{
    border-top: 1px solid rgba(24, 70, 139, 1);
    padding: 45px 0;
}
.responsibly-text p{
    color: rgba(106, 127, 159, 1);
    font-weight: 500;
    line-height: 120%;
}
.partner-logos{
    padding: 34px 0;
    gap: 25px;
    border-top: 1px solid rgba(24, 70, 139, 1);
    border-bottom: 1px solid rgba(24, 70, 139, 1);

}
.partner-logo{
    display: flex;
}
.copyright{
    margin-top: 45px;
}
.copyright p{
    color: rgba(106, 127, 159, 1);
    font-weight: 500;
    line-height: 120%;
}




.scrollup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 89;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    background: rgba(0, 92, 254, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    transform: rotate(45deg);

}
.scrollup:hover{
    background: rgba(27, 35, 64, 1);

}
.scrollup-icon{
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 3px;
}
.icon-chevrons-up{
    content: url("../img/chevrons-up.svg");

}

.scrollup span{
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    display: block;
}







.use-of-cookies{
    position: absolute;
    left: 0;
    bottom: 177px;
    width: 100%;
    z-index: 9999;
}
.use-of-cookies-flex{
    background: rgba(0, 0, 0, 1);
    width: 100%;
    border-radius: 10px;
    gap: 25px;
    padding: 23px 30px;
    justify-content: space-between;
}
.use-of-cookies-tezxt{
    max-width: 1180px;
    width: 100%;
}
.use-of-cookies-tezxt h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}
.use-of-cookies-tezxt p{
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
}

.use-of-cookies-tezxt a{
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}
.use-of-cookies-flex .btn-liner{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}


.bonus-free-spins{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 35px;
}


.bonus-free-spins-flex{
    background: linear-gradient(89.75deg, #000000 0.08%, #005179 99.92%);
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    gap: 10px;
}
.bonus-free-spins-flex img{
    width: 110px;
    border-radius: 10px;
}
.bonus-free-spins-flex h3{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

.bonus-free-spins .btn{
    background: rgba(0, 92, 254, 1);
    max-width: 163px;
    width: 100%;
}

@media (max-width: 1399px){
    footer {
        padding: 0 15px 24px;
    }
}

@media (max-width: 1299px){
    footer {
        padding: 0 10px 10px;
    }

}
@media (max-width: 1199px){
    .partner-logos {
        padding: 29px 0;
        flex-wrap: wrap;
    }
    .responsibly-text {
        padding: 30px 0;
    }
    .copyright {
        margin-top: 30px;
    }
    .footer-logo {
        gap: 52px;
    }
}
@media (max-width: 1020px){
    .footer-head {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-logo {
        gap: 18px;
        flex-direction: column;
        align-items: center;
    }
    .footer-info {
        margin-top: 54px;
        gap: 52px;
        flex-direction: column;
    }
    .footer-menu {
        max-width: 100%;
        width: 100%;
    }
    .responsibly-text p {
        text-align: center;
        line-height: 125%;

    }
    .partner-logo {
        height: 24px;
    }
    .copyright p {
        line-height: 125%;
        text-align: center;
    }
    .use-of-cookies-tezxt p {
        font-size: 14px;
        text-align: center;
    }
    .use-of-cookies-flex{
        flex-direction: column;
        align-items: center;
    }
    .use-of-cookies-flex h4{
        text-align: center;
    }
    .bonus-free-spins-flex h3 {
        font-size: 14px;
        line-height: 100%;
    }
    .bonus-free-spins-flex img {
        width: 69px;
    }
    .bonus-free-spins-flex{
        padding: 20px 10px;
    }
    .use-of-cookies .container-large{
        padding: 0 10px;
    }
    .bonus-free-spins .container-large{
        padding: 0 10px;
    }
    .bonus-free-spins .btn {
        max-width: 100px;
    }
    .bonus-free-spins {
        bottom: 10px;
    }
    .use-of-cookies {
        bottom: 122px;
    }
}