h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
}

h1 span{
    color: rgba(0, 92, 254, 1);
}


h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
    text-align: left;
}
h3{
    font-weight: 700;
    font-size: 33px;
    line-height: 120%;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(104, 104, 104, 1);
    text-align: left;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    white-space: nowrap;
    width: max-content;
    background: rgba(27, 35, 64, 1);
    padding: 10px 30px;
    border-radius: 35px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    height: 45px;
}
.btn:hover{
    background: rgba(136, 179, 255, 1);
}

/*========-global-style-end-=======*/




.banner-min{
    padding: 18px 24px 0;
}

.banner-fon{
    background: rgba(27, 35, 64, 1);
    width: 100%;
    border-radius: 30px;
    padding: 134px 0 72px;

}
.banner-home{
    padding: 184px 0 236px;
}
.banner-info h1{
    max-width: 730px;
    width: 100%;
}

.banner-info p{
    color: rgba(166, 166, 166, 1);
    margin-top: 16px;
    max-width: 730px;
    width: 100%;
}

.link-casino{
    margin-top: 14px;
    max-width: 1101px;
    width: 100%;
}
.link-casino ul{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.link-casino a{
    border: 1px dashed rgba(136, 179, 255, 1);
    width: max-content;
    height: 39px;
    white-space: nowrap;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    color: rgba(136, 179, 255, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.link-casino a:hover{
    border: 1px dashed rgba(136, 179, 255, 1);
    background: rgba(136, 179, 255, 1);
    color: #ffffff;
}







.bred-caps{
    margin-bottom: 16px;
}
.bred-caps ul{
    display: flex;
    align-items: center;
    gap: 29px;
}
.bred-caps ul li, .bred-caps ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}
.bred-caps ul li a{
    color: rgba(0, 92, 254, 1);
    text-decoration: underline;
}
.bred-caps ul li{
    color: rgba(166, 166, 166, 1);
    position: relative;
}
.bred-caps ul li + li:before{
    content: "-";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    position: absolute;
    left: -19px;
}




.bonus-min{
    margin-top: -180px;
    z-index: 2;
}

.bonus-content{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bonus-card{
    background: rgba(255, 255, 255, 1);
    width: 380px;
    border-radius: 10px;
    padding: 20px 20px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.bonus-card:nth-child(2){
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-top: -20px;
    padding-bottom: 70px;
}
.bonus-card:nth-child(2) .bonus-card-logo{
    margin-top: 20px;
}
.bonus-card strong{
    display: block;
    text-align: center;
    color: rgba(226, 226, 226, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}
.bonus-card-logo{
    display: flex;
    justify-content: center;
}

.logo-name{
    gap: 15px;
}
.logo-name h3{
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;

}

.logo-name-stars{
    gap: 15px;
}
.logo-name-stars ul{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo-name-stars ul li{
    display: flex;
}

.count-star{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(27, 35, 64, 1);
    border-radius: 3px;
    width: 28px;
    height: 23px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}


.promo-code{
    margin-top: 30px;
}
.promo-code img{
    width: 39px;
}
.promo-code span{
    display: block;
    margin-top: 10px;
    text-align: center;
    color: rgba(27, 35, 64, 1);

    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 10px;
}
.promo-code a{
    color: rgba(1, 91, 255, 1);
    border-bottom: 1px dashed rgba(1, 91, 255, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
}

.bonus-card-ul{
    margin: 15px 0;
}
.bonus-card-ul ul{
    list-style-type: disc;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.bonus-card-ul ul li{
    color: rgba(108, 108, 108, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.go-the-website{
    width: 100%;
}
.go-the-website .btn{
    width: 100%;
}
.go-the-website p{
    text-align: center;
    margin-top: 15px;
    color: rgba(108, 108, 108, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;

}
.href-social{
    margin-top: 10px;
    gap: 10px;
}
.href-social a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: rgba(240, 245, 255, 1);
    border-radius: 10px;
    padding: 10px;
    width: 38px;
    height: 38px;

}


.first-deposit{
    margin-top: 74px;

}
.first-deposit-col{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.first-deposit-first{
    width: 163px;
}
.first-deposit-first .bonus-card-logo img{
    width: 205px;
}
.first-deposit-box{
    margin-bottom: 25px;
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(226, 223, 223, 1);
}
.first-deposit-box .promo-code{
    max-width: 183px;
    width: 100%;
    margin-top: 0;
}
.first-deposit-box .go-the-website{
    max-width: 205px;
    width: 100%;
    justify-content: center;
}

.first-deposit-box .bonus-card-ul{
    gap: 20px;
    position: relative;
    padding-bottom: 10px;
}
.first-deposit-box .count-star{
    background: rgba(244, 16, 100, 1);

}
.open-ul-carts{
    cursor: pointer;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(135deg);
    width: 10px;
    height: 10px;
    border-top: 2px solid rgba(0, 92, 254, 1);
    border-right: 2px solid rgba(0, 92, 254, 1);
}





.btn-liner{
    border: 1px solid rgba(27, 35, 64, 1);
    width: 163px;
    height: 45px;
    border-radius: 35px;
    padding: 10px;
    background: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(27, 35, 64, 1);
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    transition: 0.3s;
}

.btn-liner:hover{
    background: rgba(27, 35, 64, 1);
    color: #ffffff;
}









.last-updated-sec{
    margin-top: 60px;
}
.last-updated-flex{
    background: rgba(245, 248, 255, 1);
    border-radius: 30px;
    padding: 15px 30px;
    gap: 20px;
}
.last-updated-user{
    gap: 29px;
}
.last-updated-user img{
    max-width: 87px;
    width: 100%;
    height: 87px;
    border-radius: 50%;
}


.last-updated-name span{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    display: block;
    margin-bottom: 3px;
}
.last-updated-name p, .last-updated-data p{
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
.last-updated-data span{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: block;
    margin-top: 3px;
    text-align: right;
}



.casinos-ukraine{
    margin-top: 36px;
    padding: 0 25px;
}
.casinos-uk-text{
    margin-top: 75px;
}
.casinos-uk-text p{
    margin-top: 20px;
}
.content-casino{
    background: rgba(245, 248, 255, 1);
    padding: 55px 0;
    border-radius: 30px;

}
.content-box {
    background: #fff;
    padding: 50px 30px;
    border-radius: 30px;
    width: 100%;
}



.content-list {
    list-style: disc;
    padding-left: 20px;
    margin-top: 20px;
}

.content-list li {
    margin-bottom: 4px;
    color: rgba(0, 92, 254, 1);

}

.content-list a {
    color: rgba(0, 92, 254, 1);
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    position: relative;
}

.hidden-link {
    display: none;
}

.content-more {
    margin: 20px auto 0;
    background: none;
    border: none;
    color: rgba(0, 92, 254, 1);
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-more .arrow {
    width: 110px;
    height: 14px;
    margin-top: 5px;
    position: relative;
}
.content-more .arrow:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 8px;
    height: 8px;
    border-right: 2px solid rgba(0, 92, 254, 1);
    border-bottom: 2px solid rgba(0, 92, 254, 1);
    transform: translateX(-50%) rotate(45deg);
    left: 50%;

    transition: 0.3s;
}
.content-more .arrow:after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 8px;
    height: 8px;
    border-right: 2px solid rgba(0, 92, 254, 1);
    border-bottom: 2px solid rgba(0, 92, 254, 1);
    transform: translateX(-50%) rotate(45deg);
    transition: 0.3s;
}
.content-more-close .arrow:before {
    transform: translateX(-50%) rotate(-135deg);
}
.content-more-close .arrow:after {
    transform: translateX(-50%) rotate(-135deg);
}
.hide-more-link{
    display: none;
}

.content-more-close .hide-more-link{
    display: block;
}
.content-more-close .more-link{
    display: none;
}


.benefits-min{
    margin-top: 99px;
}

.benefits-info{
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(199, 199, 199, 1);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits-info ul{
    list-style-type: disc;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits-info ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: justify;
    color: rgba(104, 104, 104, 1);

}
.benefits-info p{
    color: rgba(104, 104, 104, 1);

}
.benefits-info ul li b{
    color: rgba(0, 0, 0, 1);
}

.benefits-table{
    border: 1px solid rgba(212, 212, 212, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 30px 50px;
}
.benefits-table table{
    width: 100%;
}
.benefits-table table tr th{
    border-bottom: 1px solid rgba(212, 212, 212, 1);
    text-align: center;
    padding: 5px 0;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.benefits-table table tr td{
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 13px 0;

}

.benefits-info h1 {
    font-size: 33px;
    text-transform: unset;
    color: rgba(0, 0, 0, 1);
    line-height: 120%;

}
.benefits-info h2 {
    font-size: 24px;
    line-height: 120%;

}
.benefits-info h3 {
    font-size: 22px;
    line-height: 120%;

}
.benefits-info h4 {
    font-size: 22px;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);

}
.benefits-info ol {
    list-style: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits-info ol li{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: justify;
    color: rgba(0, 0, 0, 1);
}
.benefits-info ol li p{
    font-weight: 400;
    color: rgba(104, 104, 104, 1);
}
.benefits-info-photo img{
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
}
.betting-stable{
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(199, 199, 199, 1);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.betting-stable ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.betting-stable ul li{
    position: relative;
    padding-left: 44px;
    color: rgba(27, 35, 64, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}
.betting-stable ul li:before{
    content: url("../img/icons/check-square.svg");
    position: absolute;
    top: 0;
    left: 0;
}



.resp-gaming{
    background: rgba(245, 248, 255, 1);
    border-radius: 20px;
    padding: 50px 150px;
    gap: 20px;
    display: flex;
    align-items: center;
}
.icon-fit{
    content: url("../img/icons/fit.svg");
}
.resp-gaming span{
    color: rgba(91, 129, 196, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}
.alert-octagon{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 20px;
}
.icon-alert-octagon{
    content: url("../img/icons/alert-octagon.svg");
    width: 34px;
    height: 34px;
}
.alert-octagon p{
    color: rgba(91, 129, 196, 1);
}

.share-soc-box{
    margin-top: 20px;
    gap: 10px;
}
.share-soc-box p{
   color: rgba(0, 0, 0, 1);
    font-weight: 500;
}
.share-soc-flex{
    gap: 2px;
}
.share-soc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: rgba(245, 248, 255, 1);
    border-radius: 3px;
}













.faq-main{
    margin-top: 40px;
}



.accordion{
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}


.accordion-box{
    border-bottom: 1px solid rgba(226, 223, 223, 1);
}

.accordion-click{
    position: relative;
    transition: 0.3s;
    padding: 20px 20px;
    cursor: pointer;
}

.accordion-click:after{
    content: "";
    position: absolute;
    right: 26px;
    top: 29px;
    width: 9px;
    height: 9px;
    border-top: 2px solid rgba(0, 92, 254, 1);
    border-right: 2px solid rgba(0, 92, 254, 1);
    transform: rotate(135deg);
    transition: 0.3s;
    opacity: 0.50;
}
.open:after {
    top: 32px;
    transform: rotate(-45deg);
    opacity: 1;
}
.accordion-click h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
}


.submenu-faq{
    display: none;
    padding: 0 20px 20px;
}










.reviews-main{
    margin-top: 62px;
    padding: 0 25px;
}
.reviews-fon{
    background: rgba(245, 248, 255, 1);
    border-radius: 30px;
    padding: 70px 0;
}
.reviews-title{
    gap: 20px;
    margin-bottom: 34px;

}


.reviews-rel{
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 100%;
    margin-bottom: 34px;
}

.reviews-box{
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
.reviews-head{
    gap: 20px;
}
.reviews-head .logo-name-stars {
    gap: 5px;
}
.reviews-head .logo-name-stars span{
    background: unset;
    padding: 0;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    width: auto;
    height: auto;
}
.reviews-head small{
    color: rgba(136, 133, 170, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: right;
}

.reviews-cnt{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 40px;

}
.reviews-user{
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 112px;
    width: 100%;
}
.reviews-user img{
    width: 100%;
}
.reviews-user p{
    font-size: 14px;
    line-height: 100%;
}

.reviews-info{
    max-width: 1048px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.reviews-info-text{
    display: flex;
    align-items: center;
    gap: 30px;
}

.reviews-lice{
    width: 30px;
    height: 30px;
    display: flex;
}
.reviews-info-text p{
    color: rgba(0, 0, 0, 1);
}
.dislike-rev p{
    color: rgba(131, 131, 131, 1);
}

.add-review{
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 50px 30px;
    display: none;
}
.add-review-open{
    display: block;
}


.add-review-rating{
    margin-top: 15px;
    gap: 5px;

}
.add-review-rating p{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 15px;
}
.add-review-rating ul{
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-review-rating ul li{
    display: flex;
}

.add-review-form{
    margin-top: 15px;
    gap: 15px;
    display: flex;
    align-items: center;
}
.form-inp{
    width: 100%;
    max-width: 284px;
}
.form-inp label{
    display: flex;
    width: 100%;
}
.form-inp input{
    width: 100%;
    height: 50px;
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 10px;
    background: rgba(245, 248, 255, 1);
    padding: 12px 17px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);

}
.form-inp input::placeholder{
    color: rgba(107, 107, 107, 1);
}

.positive-head{
    margin-top: 15px;
}
.positive-head ul{
    display: flex;
    gap: 15px;
}
.positive-head ul li{
    padding: 20px;
    border-radius: 20px 20px 0 0;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
.positive-head ul li.positive-active{
    background: rgba(245, 248, 255, 1);

}
.positive-main{
    background: rgba(245, 248, 255, 1);
    padding: 30px;
    border-radius: 0 20px 20px 20px;

}


.positive-js{
    display: none;

}
.negative-js{
    display: none;
}
.positive-open{
    display: block;
}

.positive-textarea{
    width: 100%;
}
.positive-textarea label{
    display: flex;
    width: 100%;
}
.positive-textarea textarea{
    width: 100%;
    border: 1px solid rgba(215, 215, 215, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    resize: none;
    height: 115px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    padding: 17px;
    font-family: 'Gilroy';

}
.positive-textarea textarea::placeholder{
    color: rgba(107, 107, 107, 1);
}







.positive-btn{
    margin-top: 20px;
}
.positive-btn .btn{
    margin-top: 15px;
    max-width: 218px;
    width: 100%;
}


.form-check {
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.form-check small{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
}
.form-check a{
    color: rgba(0, 92, 254, 1);
    text-decoration: underline;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(202, 202, 202, 1);
    transition: 0.3s;
    border-radius: 3px;
}

.form-check input:checked ~ .checkmark {
    background-color: rgba(27, 35, 64, 1);
    border: 1px solid  rgba(27, 35, 64, 1);

}
.form-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-check input:checked ~ .checkmark:after {
    display: block;
}






.addiction-main{
    padding: 40px 0 35px;
}
.addiction-info{
    gap: 13px;
}
.addiction-info h4{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}
.addiction-info p{
    text-align: center;
}
.addiction-icon{
    width: 50px;
}