.bookmakers-wrap{
    gap: 25px;
    padding-bottom: 25px;
}

.bookmakers-box{
    width: 100%;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    padding: 20px 40px;

}
.bookmakers-count strong{
    color: rgba(226, 226, 226, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}
.bookmakers-logo{
    width: 135px;
    gap: 5px;
}
.bookmakers-logo span{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
.bookmakers-items{
    gap: 20px;
}
.bookmakers-items .href-social {
    margin-top: 0;
}
.bookmakers-items .count-star {
    background: rgba(244, 16, 100, 1);
}



.casino-ggbet .container{
    position: relative;
}


.casino-ggbet .bred-caps{
    position: absolute;
    left: 340px;
}


.casino-ggbet{
    padding-bottom: 240px;
}
.kmakers-text{
    display: none;
}
.casino-ggbet-box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -242px;
}
.casino-ggbet-box .first-deposit-first{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    padding: 20px;
    height: 272px;
    margin-bottom: -24px;
}
.casino-ggbet-box .first-deposit-first .btn{
    margin-top: 13px;
    width: 100%;
}


.casino-ggbet-box .promo-code {
    margin-top: 0;
    max-width: 183px;
    width: 100%;
}
.casino-ggbet-box .bonus-card-ul {
    margin: 0;
    position: relative;
    gap: 20px;
}
.casino-ggbet-box .go-the-website {
    max-width: 210px;
}
.casino-ggbet-box .promo-code>span{
    color: #FFFFFF;
}
.casino-ggbet-box .bonus-card-ul ul li {
    color: #FFFFFF;

}
.casino-ggbet-box .go-the-website p {
    color: rgba(205, 205, 205, 1);
}



.plus-minus-min{
    margin-top: 80px;
    padding: 0 25px;
}
.plus-minus-fon{
    background: rgba(245, 248, 255, 1);
    padding: 50px 0;
    border-radius: 30px;
}

.plus-minus-flex{
    gap: 30px;
}
.plus-minus-box{
    background: rgba(255, 255, 255, 1);
    width: 50%;
    height: 322px;
    padding: 30px 40px;
    border-radius: 10px;

}

.plus-minus-box ul{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    gap: 13px;
}
.plus-minus-box li{
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
}
.plus-minus-box li i{
    margin-right: 13px;
    width: 24px;
    height: 24px;
}

.icon-plus{
    content: url("../img/icons/check-circle.svg");
}
.icon-minus{
    content: url("../img/icons/minus-circle.svg");
}


.bon-spins{
    margin-top: 30px;
}
.bon-spins-flex{
    gap: 30px;
}
.bon-spins-box{
    max-width: 288px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    gap: 15px;
    border-radius: 10px;
    padding: 20px 20px 55px;

}
.bon-spins-box img{
    width: 175px;
}
.bon-spins-box span{
    display: block;
    text-align: center;
    color: rgba(36, 44, 45, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    max-width: 222px;
    width: 100%;
}
.bon-spins-box .btn{
    width: 100%;
}
.bon-spins-box p{
    color: rgba(136, 133, 170, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;

}
.bon-spins-box p a{
    color: rgba(36, 44, 45, 1);
    text-decoration: underline;
}

.charact-flex{
    margin-top: 36px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.charact-col{
    max-width: 620px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.charact-box{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
}
.charact-box span{
    color: rgba(9, 9, 9, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

}
.charact-box p{
    color: rgba(139, 139, 139, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    max-width: 430px;
    width: 100%;
}



.casino-ggbet-box .go-the-website .btn{
    display: none;
}


@media (max-width: 1199px){
    .bookmakers-box {
        padding: 15px 20px;
    }
    .charact-box p {
        max-width: 212px;
    }
}

@media (max-width: 1020px){
    .bookmakers-wrap {
        gap: 30px;
        padding-bottom: 25px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .bookmakers-box {
        padding: 15px 20px;
        flex-direction: column;
        align-items: center;
        width: calc(50% - 20px);
        gap: 20px;
    }

    .bookmakers-items{
        flex-direction: column;
    }
    .bookmakers-count {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .casino-ggbet {
        padding-bottom: 88px;
    }
    .kmakers-text p{
        margin-top: 16px;
        color: rgba(166, 166, 166, 1);
    }
    .casino-ggbet .bred-caps {
        position: relative;
        left: 0;
    }
    .kmakers-text {
        display: block;
    }
    .casino-ggbet-box {
        margin: -60px auto 0;
        flex-direction: column;
        max-width: 360px;
        width: 100%;
    }

    .casino-ggbet-box .first-deposit-first {
        max-width: 360px;
        height: 276px;
        margin-bottom: 7px;
    }

    .casino-ggbet-box .promo-code span {
        color: rgba(27, 35, 64, 1);
    }
    .casino-ggbet-box .bonus-card-ul ul li {
        color: rgba(108, 108, 108, 1);
    }
    .casino-ggbet-box .go-the-website .btn{
        display: flex;
    }
    .casino-ggbet-box .go-the-website {
        max-width: 100%;
    }
    .plus-minus-min {
        margin-top: 19px;
        padding: 0 10px;
    }
    .plus-minus-fon {
        padding: 20px 0;
    }

    .bon-spins-flex {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .charact-fon{
        padding: 50px 10px;
    }
    .charact-flex {
        flex-direction: column;
    }
    .charact-col {
        max-width: 100%;
    }
}
@media (max-width: 767px){
    .plus-minus-flex {
        flex-direction: column;
    }
    .plus-minus-box {
        width: 100%;
        height: auto;
        padding: 30px 20px;
    }
}
@media (max-width: 570px){
    .bookmakers-box {
        padding: 20px 10px;
        width: 100%;
    }
    .charact-box p {
        max-width: 135px;
    }

}